* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h1,
h2,
h3 {
    color: #222;
}
.App {
    height: 100%;
    display: flex;
    justify-content: center;
}
.wrapper {
    position: absolute;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.App {
    transition: all 0.5s ease;
}
.library-active {
    margin-left: 30%;
}

@import "./song";
@import "./player";
@import "./library";
@import "./nav";
@import "./volume";
